<?xml version="1.0" encoding="UTF-8" ?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>IMP</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
	<welcome-file>index.php</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>Setup</display-name>
    <servlet-name>Setup</servlet-name>
    <servlet-class>controller.Setup</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Setup</servlet-name>
    <url-pattern>/Setup</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>SimpleCaptcha</servlet-name>
    <servlet-class>nl.captcha.servlet.SimpleCaptchaServlet</servlet-class>
    <init-param>
      <param-name>width</param-name>
      <param-value>250</param-value>
    </init-param>
    <init-param>
      <param-name>height</param-name>
      <param-value>75</param-value>
    </init-param>
  </servlet>
  <servlet-mapping>
    <servlet-name>SimpleCaptcha</servlet-name>
    <url-pattern>/simpleImg</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EditAdvertisement</display-name>
    <servlet-name>EditAdvertisement</servlet-name>
    <servlet-class>controller.EditAdvertisement</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EditAdvertisement</servlet-name>
    <url-pattern>/EditAdvertisement</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Login</display-name>
    <servlet-name>Login</servlet-name>
    <servlet-class>controller.Login</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Login</servlet-name>
    <url-pattern>/Login</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Main</display-name>
    <servlet-name>Main</servlet-name>
    <servlet-class>controller.Main</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Main</servlet-name>
    <url-pattern>/Main</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>FilterAdvertisement</display-name>
    <servlet-name>FilterAdvertisement</servlet-name>
    <servlet-class>controller.FilterAdvertisement</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FilterAdvertisement</servlet-name>
    <url-pattern>/FilterAdvertisement</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddFollower</display-name>
    <servlet-name>AddFollower</servlet-name>
    <servlet-class>controller.AddFollower</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddFollower</servlet-name>
    <url-pattern>/AddFollower</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EditFollower</display-name>
    <servlet-name>EditFollower</servlet-name>
    <servlet-class>controller.EditFollower</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EditFollower</servlet-name>
    <url-pattern>/EditFollower</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Index</display-name>
    <servlet-name>Index</servlet-name>
    <servlet-class>controller.Index</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Index</servlet-name>
    <url-pattern>/Index</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ErrorHandler</display-name>
    <servlet-name>ErrorHandler</servlet-name>
    <servlet-class>controller.ErrorHandler</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ErrorHandler</servlet-name>
    <url-pattern>/ErrorHandler</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SendCustomerMessage</display-name>
    <servlet-name>SendCustomerMessage</servlet-name>
    <servlet-class>controller.SendCustomerMessage</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SendCustomerMessage</servlet-name>
    <url-pattern>/SendCustomerMessage</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PersonalSection</display-name>
    <servlet-name>PersonalSection</servlet-name>
    <servlet-class>controller.PersonalSection</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PersonalSection</servlet-name>
    <url-pattern>/PersonalSection</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EditLink</display-name>
    <servlet-name>EditLink</servlet-name>
    <servlet-class>controller.EditLink</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EditLink</servlet-name>
    <url-pattern>/EditLink</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Confirm</display-name>
    <servlet-name>Confirm</servlet-name>
    <servlet-class>controller.Confirm</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Confirm</servlet-name>
    <url-pattern>/Confirm</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EditUser</display-name>
    <servlet-name>EditUser</servlet-name>
    <servlet-class>controller.EditUser</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EditUser</servlet-name>
    <url-pattern>/EditUser</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeactivateAdvertisment</display-name>
    <servlet-name>DeactivateAdvertisment</servlet-name>
    <servlet-class>controller.DeactivateAdvertisment</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeactivateAdvertisment</servlet-name>
    <url-pattern>/DeactivateAdvertisment</url-pattern>
  </servlet-mapping>
   <servlet>
    <description></description>
    <display-name>DeleteAdvertisment</display-name>
    <servlet-name>DeleteAdvertisment</servlet-name>
    <servlet-class>controller.DeleteAdvertisment</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteAdvertisment</servlet-name>
    <url-pattern>/DeleteAdvertisment</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SendMessage</display-name>
    <servlet-name>SendMessage</servlet-name>
    <servlet-class>controller.SendMessage</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SendMessage</servlet-name>
    <url-pattern>/SendMessage</url-pattern>
  </servlet-mapping>
  <servlet>
	<servlet-name>Quercus Servlet</servlet-name>
	<servlet-class>com.caucho.quercus.servlet.QuercusServlet</servlet-class>
  </servlet>
  <servlet-mapping>
	<servlet-name>Quercus Servlet</servlet-name>
	<url-pattern>*.php</url-pattern>
  </servlet-mapping>
  <security-constraint>
    <web-resource-collection>
      <web-resource-name>securedapp</web-resource-name>
      <url-pattern>/*</url-pattern>
    </web-resource-collection>
    <user-data-constraint>
      <transport-guarantee>NONE</transport-guarantee>
    </user-data-constraint>
  </security-constraint>
</web-app>
